apiVersion: apps/v1
kind: Deployment
metadata:
  name: ingestion-worker
  namespace: kcb
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ingestion-worker
  template:
    metadata:
      labels:
        app: ingestion-worker
    spec:
      containers:
        - name: ingestion-worker
          image: kcb-ingestion-worker:latest
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: kcb-config
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: kcb-secrets
                  key: DATABASE_URL
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
